nav a{
	float: center;
    padding: 10px;
}

.jumbotron{
     text-align: center;
     color: red;
    background-color: red;
 }
		   
body .header{
	padding: 10px;
	color: red;
}
			
body{
	text-align: center;
	padding: 5px;
	color: red;
}

form input{
			   
	padding: 5px;
	background-color: red;
	position: relative;			   
}

textarea{
	vertical-align: top;
	padding: 12px 20px;
	resize: vertical;
	float: center;	
	color: red;			
}


table, th, td {
	border: 0px none;
	border-collapse: collapse;
	color: red;
	
}
th, td {
	padding: 5px;
	text-align: center;  
	color: red;
}
footer{
	text-align: center;
	color: red;
}